* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 40px;
}
.hidden {
  display: none !important;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}
.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 16px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Sedan", sans-serif;
  color: #020617;
}
.fact-form {
  background-color: #f1f5f9;
  margin-bottom: 40px;
  padding: 16px 40px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  border-radius: 16px;
}
.fact-form input,
.fact-form select {
  background-color: #e2e8f0;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-family: monospace;
  font-size: 18px;
}
.fact-form input:first-child {
  flex-grow: 1;
}
@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}
@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
  }
}
.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "", monospace;
  background-color: #f1f5f9;
  margin-bottom: 16px;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}
.source:link,
.source:visited {
  color: #94a3b8;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}
.source:hover,
.source:active {
  color: #3b82f6;
}

.vote-buttons {
  margin-left: auto;
}
.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Sedan", sans-serif;
  padding: 3px 10px;
  border-radius: 100px;
  flex-shrink: 0;
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
}
ul {
  list-style: none;
}
.btn {
  border: none;
  font-family: "Sedan", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  color: #334155;
  background-image: linear-gradient(
    135deg,
    #fef2f2,
    #fff7ed,
    #fffbeb,
    #f0fdf4,
    #f0fdfa
  );
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  transform: scale(110%) rotate(-2deg);
}
.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}
.category {
  margin-bottom: 16px;
}
.btn-all {
  margin-bottom: 16px;
  width: 100%;
}
.btn-category {
  width: 100%;
  background-image: none;
}
.vote-buttons {
  margin-left: auto;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

.vote-buttons button {
  background-color: #e2e8f0;
  border: none;
  border-radius: 50px;
  padding: 6px 12px;
  font-family: monospace;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.vote-buttons button:hover {
  background-color: #94a3b8;
}
